node_modules
package-lock.json
Pausemusicbreath-of-life.mp3
SoulSpaLogo.png
SoulSpaLogoSilver.png
ios/SoulSpa.xcodeproj/xcshareddata
Podfile.lock
android/app/src/main/res
android/gradle/wrapper
ios/SoulSpa/Images.xcassets
adaptive-icon.png
favicon.png
splash-icon.png
